/* Variables 
================================= */
:root {
    /* colors */
    --body-color: #e5e5e5;
    --black-color: #000;
    --white-color: #fff;
    --green-color: #4b9200;
    --orange-color: #f9804b;
    --orange-color_active: #e47209;
    --orange-gradient-color-button: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    --yellow-color: #ffee2e;
    --orange-gradient-color: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    --pink-gradient-color: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    --rad-color: #d31414;
    --black_blue-color: #333b41;
    --gray-color: #767474;
    --light_gray-color: #f1f3f2;
    --frosted_glass_white-color: rgba(253, 253, 255, 0.52);

    
}

/* Main styles and helper classes
================================== */

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', 'Open Sans', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    background-color: var(--body-color);
}

a {
    text-decoration: none;
    transition: all ease-in-out 0.2s;
}

a:active, a:hover {
    color: var(--orange-color_active);
    transition: all ease-in-out 0.4s;
}

h2 {
    font-size: 3rem;
    line-height: 57.6px;
    font-weight: 400;
}

ul {
    list-style: none;
}

.wrapper {
    width: 1600px;
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    overflow: hidden;
}

.block {
    margin-top: 140px;
}

.row {
    width: 1160px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.col {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.subtitle {
    font-size: 1.5rem;
    line-height: 28.8px;
}

.uppercase {
    text-transform: uppercase;
}

.small-paragraph {
    font-size: 0.93rem;
    font-weight: 400;
    line-height: 1.57rem;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.button {
    background-color: var(--orange-color);
    border: none;
    text-align: center;
    color: white;
    text-transform: uppercase;
    padding: 18px 90px;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}

.button:hover {
    background-color: var(--orange-color_active);
}

.button:active {
    background-color: var(--green-color);
}

.rounded-circle {
    border-radius: 50%;
}

.rounded-25 {
    border-radius: 25px;
}

.rounded-5 {
    border-radius: 5px;
}

.yellow {
    color: var(--yellow-color);
}

.white {
    color: var(--white-color);
}

/* Header styles 
============================== */
.header {
    width: 100%;
    height: 80px;
    background-color: var(--black-color);
    display: flex;
    justify-content: center;
}

.header h1 {
    line-height: 120%;
    font-size: 1.187rem;
    /*padding-left: 5px;*/
    font-weight: 500;
    margin: 0;
    padding: 2px;
}
/* Nav styles 
============= */
.nav {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo {
    /*width: 82px;
    height: 52px;*/
    display: flex;
    border: 1px solid var(--white-color);
    border-radius: 2px;
    align-items: center;
    position: relative;
}

.nav-logo > img {
    position: absolute;
    width: 12px;
    height: 21px;
    left: 9px;
    top: 24px;
}

.nav-list {
    display: flex;
    align-items: center;
    padding-inline-start: 0;
}

.nav-list-item {
    padding: 0 30px;
}
.nav-list-item:first-of-type {
    padding-left: 0;
}

.nav-list-item-link {
    line-height: 140%;
}

/* Watch animal section
================================= */
.watch-animal {
    position: relative;
    width: 100%;
    height: 780px;
    background-image: url(../assets/images/header_bgn.png);
    background-repeat: no-repeat;
}

.watch-ellipse {
    width: 465px;
    height: 465px;
    position: absolute;
    top: 92px;
    left: calc(50% - 465px/2 + 239.5px);
    background: var(--orange-gradient-color-button);
    border-radius: 50%;
    
}

.watch-ellipse > h2 {
    position: absolute;
    top: 74px;
    left: 73px;
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 6.2rem;
    letter-spacing: 0.5rem;
    line-height: 80%;
    text-align: center;
}

.watch-ellipse > button {
    top: 533px;
    left: 170px;
}

/* Backstage section 
================================ */

#backstage {
    position: relative;
}

.backstage-bg {
    max-width: 100%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    top: 12px;
    left: 1396px;
    margin-top: -143px;
}

#backstage h2 {
    margin-top: 0;
    margin-bottom: 1.2rem;
}

#backstage .row {
    gap: 43.5px;
}

#backstage .row .col:first-of-type {
    flex: 1.4 1 0;
}

#backstage .row .col:nth-child(2) {
    text-align: left;
}

#backstage .row .col:nth-child(2) > div {
    margin-top: 0.6rem;
}

#backstage .row .col:nth-child(2) > p {
    margin-top: 0;
}

#backstage .subtitle {
    margin-top: 2rem;    
}

.backstage-img {
    width: 609px;
}

/* Pets section
===================================== */

#pets {
    margin-bottom: 30px;
}

#pets .row {
    justify-content: space-between;
}

#pets button:first-of-type {
    left: 8.5%; 
}

#pets .button:nth-child(2) {
    left: 87.5%;
}

.button-slider {
    padding: 23px;
    top: 38.5%;
}

.pets-left-palm {
    bottom: -30px;
    left: -590px;
}

.pets-right-palm {
    left: 1232px;
    bottom: -30px;
}


.card {
    width: 366px;
    height: 426px;
    margin-top: 1.45rem;
    border: 1px solid var(--orange-color);
    border-radius: 5px;
}

.card:nth-child(n + 4) .card-descr {
    padding: 3px 15px;
}

.card-descr {
    padding: 8px 15px;
}

.card-image > img {
    max-width: 100%;
}

.card-text {
    justify-content: center;
    flex: 2 1 0
}

.card-text p {
    margin: 0;
}

.card-text p:first-of-type {
    font-weight: 600;
}

.card-text P:nth-child(2) {
    line-height: 120%;
}

.card-icon {
    align-items: end;
}

.card-icon > img {
    width: 33px;
    height: 37px;
}

.pets-button {
    text-align: center;
}

.pets-button > button {
    margin: 72px 0;
    padding-left: 58px;
    padding-right: 58px;
}