/* Variables 
================================= */
:root {
    /* colors */
    --body-color: #e5e5e5;
    --black-color: #000;
    --white-color: #fff;
    --green-color: #4b9200;
    --orange-color: #f9804b;
    --orange-color_active: #e47209;
    --orange-gradient-color-button: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    --yellow-color: #ffee2e;
    --orange-gradient-color: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    --pink-gradient-color: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    --rad-color: #d31414;
    --black_blue-color: #333b41;
    --gray-color: #767474;
    --light_gray-color: #f1f3f2;
    --frosted_glass_white-color: rgba(253, 253, 255, 0.52);
    --full-opacity: 1;
    --zero-opacity: 0;

    
}

/* Main styles and helper classes
================================== */

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', 'Open Sans', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
}

.page-wrapper {
    overflow: hidden; /* experimnetal */
}

a {
    text-decoration: none;
    transition: all ease-in-out 0.2s;
    color: var(--white-color);
}


a:active {
    color: var(--orange-color_active);
}

a:hover {
    color: var(--orange-color_active);
}

.active {
    color: var(--orange-color_active);
}


h2 {
    font-size: 3rem;
    line-height: 57.6px;
    font-weight: 400;
}

h3 {
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 130%;
}


ul {
    list-style: none;
}

.container {
    width: 1160px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.block {
    margin-top: 140px;
}

.row {
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
}

.col {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.hide-on-media {
    display: block;
}

.hide-on-media-640 {
    display: block;
}

.hide-on-media-320 {
    display: block;
}

.burger-menu {
    display: none;
    cursor: pointer;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-justify-center {
    justify-content: center;
}

.flex-justify-between {
    justify-content: space-between;
}

.subtitle {
    font-size: 1.5rem;
    line-height: 28.8px;
}

.uppercase {
    text-transform: uppercase;
}

.small-paragraph {
    font-size: 0.93rem;
    font-weight: 400;
    line-height: 1.57rem;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.button {
    background-color: var(--orange-color);
    border: none;
    text-align: center;
    color: white;
    text-transform: uppercase;
    padding: 18px 90px;
    cursor: pointer;
    transition: all ease-in-out 0.1s;
}

.button:hover {
    background-color: var(--orange-color_active);
}

.button:active {
    background-color: var(--green-color);
}

.rounded-circle {
    border-radius: 50%;
}

.rounded-25 {
    border-radius: 25px;
}

.rounded-5 {
    border-radius: 5px;
}

.yellow {
    color: var(--yellow-color);
}

.white {
    color: var(--white-color);
}

.orange {
    color: var(--orange-color_active) !important;
}

/* Header styles 
============================== */
.header {
    width: 100%;
    height: 80px;
    background-color: var(--black-color);
    display: flex;
    justify-content: center;
    position: absolute;
    top:0;
    left:0;
}

.header h1 {
    line-height: 120%;
    font-size: 1.187rem;
    /*padding-left: 5px;*/
    font-weight: 500;
    margin: 0;
    padding: 3px 4px;
}
/* Nav styles 
============= */
.nav {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo {
    /*width: 82px;
    height: 52px;*/
    display: flex;
    border: 1px solid var(--white-color);
    border-radius: 2px;
    align-items: center;
    position: relative;
}

.nav-logo > img {
    position: absolute;
    width: 12px;
    height: 21px;
    left: 9px;
    top: 24px;
}

.nav-list {
    display: flex;
    align-items: center;
    padding-inline-start: 0;
}

.nav-list-item {
    padding: 0 30px;
}
.nav-list-item:first-of-type {
    padding-left: 0;
}

.nav-list-item-link {
    line-height: 140%;
}

/* Watch animal section
================================= */

#home {
    background-color: var(--black_blue-color);
}
.watch-animal {
    width: 100%;
    height: 780px;
    background-image: url(../assets/images/header_bgn.png);
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
}

.watch-ellipse {
    width: 465px;
    height: 465px;
    position: absolute;
    top: 92px;
    left: calc(50% - 465px/2 + 239.5px);
    background: var(--orange-gradient-color-button);
    border-radius: 50%;
    
}

.watch-ellipse > h2 {
    position: absolute;
    top: 74px;
    left: 73px;
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 6.2rem;
    letter-spacing: 0.5rem;
    line-height: 80%;
    text-align: center;
}

.watch-ellipse > button {
    top: 533px;
    left: 170px;
}

/* Backstage section 
================================ */

#backstage {
    position: relative;
}

.backstage-bg {
    max-width: 100%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    top: 12px;
    right: 0;
    margin-top: -143px;
    opacity: 1;
    transition: opacity .2s ease-in-out;
}

#backstage h2 {
    margin-top: 0;
    margin-bottom: 1.2rem;
}

#backstage .row {
    gap: 43.5px;
}

#backstage .row .col:first-of-type {
    flex: 1.4 1 0;
}

#backstage .row .col:nth-child(2) {
    text-align: left;
}

#backstage .row .col:nth-child(2) > div {
    margin-top: 0.6rem;
}

#backstage .row .col:nth-child(2) > p {
    margin-top: 0;
}

#backstage .subtitle {
    margin-top: 2rem;    
}

.backstage-img {
    width: 609px;
}

/* Pets section
===================================== */

#pets {
    margin-bottom: 30px;
}

#pets .row {
    justify-content: space-between;
}

#prev {
    left: -6.5%; 
}

#next {
    left: 101.5%;
}

.button-slider {
    padding: 23px;
    top: 39%;
}

.pets-left-palm {
    bottom: -30px;
    left: -214px;
}

.pets-right-palm {
    right: -233px;
    bottom: -30px;
}


.card {
    position: relative;
    margin-top: 1.45rem;
    border: 1px solid var(--orange-color);
    border-radius: 5px;
    cursor: pointer;
}

.card-animate {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: var(--white-color);
    transition: all ease-in-out 0.4s;
    background-color: rgba(0, 0, 0, 0.78);
    z-index: 2;
    opacity: 0;
}

.card-animate:hover {
    opacity: 0.75;
}

.card-animate p {
    font-weight: 100;
    font-size: 2.5rem;
    transition: all ease-in-out 0.4s;
    z-index: 3;
}

/*.card-animate:hover p {
    transform: translateY(120px);
}*/

.card-descr {
    padding: 9px 15px;
}

.card-image > img {
    max-width: 100%;
}

.card-text {
    justify-content: center;
    flex: 2 1 0
}

.card-text p {
    margin: 0;
}

.card-text p:first-of-type {
    font-weight: 600;
}

.card-text P:nth-child(2) {
    line-height: 120%;
}

.card-icon {
    align-items: end;
}


.pets-button {
    text-align: center;
}

.pets-button > button {
    margin: 72px 0;
    padding-left: 58px;
    padding-right: 58px;
}

/* Feed a friend section
=================================== */
#feed-friend {
    background: var(--orange-gradient-color);
}

.card-feed {
    height: 835px;
    width: 100%;
    margin-top: 69px;
    margin-bottom: 100px;
    border-radius: 25px;
    backdrop-filter: blur(2px);
    background: var(--frosted_glass_white-color);
}

.h2-how {
    margin-top: 37px;
}  

.card-feed-desc {
    color: var(--black_blue-color);
}

.card-feed-desc-title {
    font-size: 3rem;
    line-height: 120%;
    color: #FE9013;
    text-align: center;
    margin-bottom: 29px;
}

.card-feed-desc-text {
    padding-left: 99px;
}

.card-feed-desc-text p:nth-child(2) {
    font-weight: 500;
    line-height: 130%;
}

a.feed-friend-link {
    color: var(--black_blue-color);
    text-decoration: underline var(--orange-color) 1px;
    text-underline-offset: 6px;
}

.feed-friend-link:hover {
    color: var(--black_blue-color);
}

.card-feed > .row {
    align-items: center;
}

.feed-how-it-works {
    font-size: 2.25rem;
    line-height: 97%;
    margin-bottom: 44px;
}

.card-feed-icons {
    width: 168px;
    height: 244px;
}

.card-feed-icons-group {
    justify-content: space-between;
    width: 66%;
}

.arrow {
    margin-bottom: 82px;
}

.card-feed-icon {
    background: var(--white-color);
    border: 1px var(--orange-color) solid ;
}

.icon-pay-card {
    padding: 53px 30px;
}

.icon-pay-zoo {
    padding: 35px 39px;
}

.icon-pay-monkey {
    padding: 46px 20px;
}

.card-feed-icon-dsc {
    margin-top: 30px;
}

.pad {
    padding-top: 63px;
}

.button-feed {
    padding: 18px 74px;
}

/* Testimonials section
=========================== */

#testimonials {
    margin-bottom: 180px;
}

#testimonials h3 {
    margin-top: 0;
    line-height: 150%;
}

.cards-row {
    margin-top: 8px;
}

.test-card {
    width: 264px;
    height: 386px;
    border-radius: 20px;
    background: var(--light_gray-color);
    border: 2px solid var(--orange-color);
    overflow: hidden;
}

.test-card-dsc {
    padding: 13px 15px 19px 14px;
}

.test-card-dsc img {
    width: 37px;
}

.test-name-loc {
    flex: 4;
}

.test-name-loc p {
    margin: 0;
}

.test-name-loc .small-paragraph {
    line-height: 1.05rem;
    color: #bdbdbd;
}

.test-name-loc .row:first-of-type p {
    font-weight: 600;
}

.test-card-review .small-paragraph {
    line-height: 18px;
    margin-top: 11px;
    color: var(--gray-color);
}

progress {
    width: 600px;
    height: 9px;
    margin: 21px 0 31px 0;
    appearance: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    cursor: pointer;
}

progress::-webkit-progress-bar {
    background: var(--light_gray-color);
}

progress::-webkit-progress-value {
    background: var(--orange-color);
    border-radius: 25px;
}

#testimonials .row button {
    padding: 18px 85px;
}

.test-leaf-picture {
    right: 0;
    bottom: -312px;
}

/* Footer section
================================= */

footer {
    background: var(--black-color);
}

.footer-wrapper {
    margin: 39px 0;
    color: var(--white-color)
}

.button-footer {
    padding: 18px 51px;
    margin: 61px 0 44px 0;
}

.footer-social-icons .col {
    gap: 7px;
}

.footer-social-icon {
    gap: 10px;
    margin-bottom: 3px;
}

.footer-social-icon p {
    margin: 0;
}

.footer-social-icon a {
    gap: 10px;
    align-items: end;
}

.footer-social-icon a:active {
    color: var(--green-color);
}

.footer-social-icon img {
    width: 26px;
    height: 26px;
}

.footer-wrapper > .row > .col:nth-child(2) {
    justify-content: flex-end;
}

.footer-wrapper nav {
    width: auto;
    height: auto;
}

.footer-wrapper ul {
    margin: 6px 0;
    padding-inline-start: 12px;

}

.footer-wrapper li {
    padding: 0 24px;
} 

.footer-wrapper > .row > .col:nth-child(3) {
    padding-left: 5%;
}

.mail-form .subtitle {
    margin: 0 0 16px 0;
}


#email {
    width: 208px;
    background: none;
    color: var(--white-color);
    border: 1px solid var(--orange-color);
    border-radius: 0;
    outline: none;
    padding: 10px;
    color: #bdbdbd;
    transition: all ease-in-out .35s ease-in-out;
}


#email:focus {
    border: 1px solid var(--green-color);;
}

#email:invalid {
    border: 1px solid var(--rad-color);
}

input[type=submit] {
    padding: 10px 39px;
    cursor: pointer;
    border: 1px solid var(--black_blue-color);
}

input[type=submit]:invalid {
    color: var(--rad-color);
    border: 1px solid var(--rad-color);
}

input[type=submit]:focus {
    color: var(--green-color);
    border: 1px solid var(--green-color);
}

.footer-wrapper > .row > .col:nth-child(3) > .col {
    justify-content: flex-end;
}

.footer-designed {
    text-align: end;
}

.footer-designed > p {
    font-weight: 100;
    line-height: 130%;
    opacity: 0.8;
}

.footer-designed > p:first-of-type {
    margin-bottom: 10px;
}

.footer-designed > p:nth-child(2) {
    margin-top: 0;
    margin-bottom: 5px;
}


/* Donation page 
====================================================================
/*

/* Background section 
=========================== */
#bg {
    margin: 0 auto;
    background: url(../assets/images/donate/donate_panda_bg.png);
    background-color: var(--black-color);
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 75px;
    height: 390px;
}

/* Donate section 
=========================== */

#donate {
    background: var(--orange-gradient-color);
    padding-bottom: 81px;
}

#donate .container .row:nth-child(2) > h3 {
    color: var(--orange-color);
    margin-top: 6px;
}

#donate .container .row > p {
    letter-spacing: 0.1px;
    font-weight: 500;
}

#donate .container .row > p > span {
    font-weight: 400;
}

.card-donate {
    width: auto;
    height: auto;
    margin-top: 0;
    padding: 0 92px;
    padding-bottom: 48px;
}

.card-donate .row:nth-child(3) {
    margin-top: 63px;
    justify-content: center;
    gap: 35px;   
}

.title-donate {
    margin-top: 25px;
    padding-top: 40px;

}

.text-donate {
    padding-left: 0;
}

.text-donate > p  {
    line-height: 17.8px;
}

.animal-icon-donate {
    width: 284px;
    height: 246px;
}


.card-donate .row:nth-child(3) div:first-of-type {
    text-align: center;
}

.card-donate .row:nth-child(3) div:first-of-type p:first-of-type  {
    font-weight: 500;
    font-size: 4.5rem;
    margin-bottom: 30px;
}

.card-donate .row:nth-child(3) div:first-of-type p:nth-child(2)  {
    margin-bottom: 0;
}

.card-donate .row:nth-child(3) div:nth-child(2) p {
    font-size: 2rem;
    text-align: left;
    margin-bottom: 15px;
}

.donate-form {
    margin-top: 42px;
}

.progress-bar-graph {
    display: flex;
    align-items: center;
    height: 27px;
    background: #404950;
    border-radius: 2px;
    margin-bottom: 12px;
}

.progress-bar-graph-scale {
    width: 915px;
    height: 2px;
    background: #72828E;
    z-index: 2;
    align-items: center;
}

.yellow-dot {
    border-radius: 50%;
    background: var(--yellow-color);
    width: 10px;
    height: 10px;
    cursor: pointer;
    z-index: 3;
}

.progress-bar-graph-amount {
    align-items: center;
    margin-bottom: 47px;
}

.progress-bar-donate-input {
    border: 1px solid #929699;
    color: #929699;
    padding: 18px 10px;
    background-color: inherit;
    width: 248px;
}

.progress-bar-donate-input:focus {
    border: 1px solid var(--green-color);
    color: var(--green-color);
    outline: var(--green-color);
}


.progress-bar-donate-input::-webkit-outer-spin-button, .progress-bar-donate-input::-webkit-inner-spin-button  {
    -webkit-appearance: none;
    margin: 0;
}

.progress-bar-donate span {
    left: 61%;
    top: 32%;
}

.progress-bar-donate span::after {
    content: '$';
    color: #929699;
    font-size: 1.5rem;
    font-weight: 500;
}

.progress-bar-graph-amount-inputs > label {
    font-size: 1.625rem;
    font-weight: 500;
    line-height: 140%;
    cursor: pointer;
    transition: all ease-in-out 0.1s;
}

.progress-bar-graph-amount-inputs:hover > label {
    color: var(--orange-color_active);
}

.progress-bar-graph-amount-inputs > input {
    /*display: none; /* for now - change later */
    appearance: none;
    border-radius: 50%;
    background: var(--yellow-color);
    width: 10px;
    height: 10px;
    cursor: pointer;
    z-index: 2;
    top: -30px;
    left: 30px;
}

.progress-bar-graph-amount-inputs > input::before {
    content: '';
    position: absolute;
    top: -75%;
    left: -70%;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    outline: 1px solid var(--orange-color);
    opacity: var(--zero-opacity);
    transition: all ease-in-out .1s;
}

.progress-bar-graph-amount-inputs > input::after {
    content: '';
    position: absolute;
    top: -144%;
    left: -140%;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    outline: 1px solid var(--orange-color);
    transition: all ease-in-out .1s;
    opacity: var(--zero-opacity);
}

.progress-bar-graph-amount-inputs:hover > input::before, .progress-bar-graph-amount-inputs:hover > input::after {
    opacity: var(--full-opacity);
}

.progress-bar-donate-period {
    margin-top: 25px;
    gap: 45px;
}

.progress-bar-donate-period-option {
    appearance: none;
}

.progress-bar-donate-period-option:checked+.progress-bar-donate-period-option-label::before {
    background: var(--green-color);
    border: 1px solid var(--green-color);
}

.progress-bar-donate-period-option-label {
    display: inline-flex;
}

.progress-bar-donate-period-option-label::before {
    content: '';
    width: 16px;
    height: 16px;
    margin-right: 10px;
    border: 1px solid var(--orange-color);
    border-radius: 50%;
    cursor: pointer;
    transition: all ease-in-out 0.1s;
}

.donate-form-button {
    margin: 27px 0;
    padding: 18px 74px;
}

.share {
    font-weight: 400 !important;
    margin-top: 0;
}



/* Media queries
================================== */

/* 1000px 
============================== */
@media only screen and (max-width: 1000px) {
    /*Main classes */

    .hide-on-media {
        display: none;
    }

    .container {
        padding: 0 30px;
        width: 940px
    }

    .block {
        margin-top: 114px;
    }
    

    /* Header */
    .header {
        z-index: 99;
        /*width: 1000px;*/
    }

    .nav-list-item {
        padding: 0 26px;
    }

    /* Watch animal */
    .watch-animal {
        height: 584px;
        background-size: cover;
    }

    .watch-ellipse {
        width: 367px;
        height: 367px;
        left: calc(50% - 367px/2 + 148px);
        top: 70px;
    }

    .watch-ellipse > h2 {
        top: 53px;
        left: 60px;
        font-size: 5rem;
        letter-spacing: 0.3rem;
    }

    .watch-ellipse > button {
        top: 415px;
        left: 131px;
        padding: 16px 59px;
    }

    /* Backstage */

    #backstage h2 {
        line-height: 48px;
    }
    .backstage-bg {
        opacity: 0;
    }

    #backstage .row {
        gap: 10px;
    }

    #backstage .row .col:first-of-type {
        flex: 0.95;
    }

    #backstage .row .col:nth-child(2) {
        padding-left: 20px;
    }

    .backstage-img {
        width: 455px;
        height: 408px;
    }

    /* Pets */

    #pets {
        margin-bottom: 77px;
    }

    #pets .row {
        gap: 20px;
    }


    .card {
        flex-basis: 30%;
    }

    .third {
        margin-top: 69px;
    }

    .button-slider {
        top: 48%;
    }

    #pets .button:first-of-type {
        left: 33.5%;
    }

    #pets .button:nth-child(2) {
        left: 59.5%;
    }

    .pets-right-palm {
        bottom: -78px;
        right: -16px;
        width: 24%;
    }

    .pets-left-palm {
        bottom: -77px;
        width: 15%;
    }

    /* Feed a friend */
    .card-feed {
        margin-top: 28px;
        margin-bottom: 50px;
        padding-bottom: 50px;
        height: auto;
        backdrop-filter: none;
    }

    .card-feed-mobile {
        width: 90%;
        margin: 0 auto;
    }

    .card-feed-desc-text {
        padding: 0;
    }

    .h2-how {
        text-align: center;
        margin: 0;
    }

    .feed-how-it-works {
        margin: 0 0 30px 0;
    }

    .card-feed-icons-group {
        width: 90%;
    }

    .arrow {
        margin-top: 64px;
    }

    .pad {
        padding-top: 57px;
    }

    /* Testimonials */
    #testimonials {
        margin-top: 100px;
        margin-bottom: 140px;
    }

    #testimonials > .container {
        width: 940px;
    }

    #testimonials h3 {
        margin-bottom: 15px;
    }

    #testimonials .button {
        margin-top: 20px;
    }

    .test-card {
        width: 288px;
    }

    .test-leaf-picture {
        bottom: -230px;
        width: 20%;
    }

    /*
    ==== Donate page ==== */

    #bg {
        background-position: 28%;
    }

    #donate {
        padding-bottom: 0;
    }

    .card-donate {
        margin-top: 0;
        padding: 1px 48px 36px 48px;
        padding-top: 1px;
        margin-bottom: 30px;
    }

    .card-donate .row:nth-child(3) {
        margin-top: 37px;
    }

    .title-donate {
        margin-top: 0;
    }
}

/* 640px 
============================== */
@media only screen and (max-width: 640px) {

    .hide-on-media-640 {
        display: none!important;
    }
    /* helper classes */
    .container {
        width: 600px;
        padding: 0 20px;
    }

    .block {
        margin-top: 63px;
    }

    .subtitle {
        font-size: 1.37rem;
    }

    .small-paragraph {
        font-size: 0.73rem;
    }

    /* Header */

    #home {
        width: 640px;
    }

    .header {
        height: 35px;
        position: fixed!important;
        top: 0;
        /*width: 640px;*/
    }

    .header h1 {
        font-size: 0.76rem;
        padding: 0;
    }

    .nav {
        height: 35px;
    }

    .nav-logo {
        border: none;
    }

    .nav-logo > img {
        width: 8px;
        left: 1px;
        top: 6px;
    }

    .burger-menu {
        display: flex;
    }

    /* Watch your animal */

    .watch-animal {
        height: 373px;
    }

    .watch-ellipse {
        width: 237px;
        height: 237px;
        top: 44px;
        left: calc(50% - 367px/2 + 203px);
    }

    .watch-ellipse > h2 {
        font-size: 3.39rem;
        top: 36px;
        left: 28px;
        letter-spacing: 0.15rem;
    }

    .watch-ellipse > button {
        top: 235px;
        left: -308px;
        padding: 19px 90px;
    }

    /* Backstage */

    .backstage-bg {
        opacity: 1;
        width: 25%;
        top: 78px;
        right: -42px;
    }

    #backstage .row .col:nth-child(2) {
        padding-left: 0;
    }

    #backstage h2 {
        line-height: 56px;
        width: 80%;
    }

    #backstage .row .col:nth-child(2) > div {
        width: 80%;
    }

    #backstage .subtitle {
        margin-top: 0;
    }

    /* Pets */

    #pets {
        margin-bottom: 45px;
    }

    .card {
        flex-basis: 47%;
        margin-top: 0;
    }

    .card:nth-child(5), .card:nth-child(6) {
        margin-top: 69px;
    }

    .card-descr {
        padding: 5px 10px;
    }

    .card-text p:first-of-type {
        font-size: 0.78rem;
    }

    .card-text p:nth-child(2) {
        line-height: 0.85rem;
    }

    .button-slider {
        top: 45%;
    }

    #pets .row {
        justify-content: unset;
        gap: 30px;
    }
    
    #pets .button:nth-child(2) {
        left: 52.5%;
    }

    #pets .button:first-of-type {
        left: 37.5%;
    }

    .pets-button > button {
        margin: 55px 0;
    }

    /* Feed friend */

    #feed-friend {
        width: 640px;
    }

    #feed-friend .container {
        width: 100%;
        padding: 0;
    }

    .card-feed {
        margin-bottom: 28px;
    }

    .card-feed-mobile {
        width: auto;
    }

    .card-feed-desc-title {
        margin: 0;
        font-size: 2.62rem;
    }

    .card-feed-desc-text {
        padding-left: 20px; 
    }

    .pad {
        padding-top: 44px;
    }

    .card-feed-icons-group {
        width: 92%;
    }

    .pets-right-palm {
        bottom: -44px;
        right: -13px;
        width: 26%;
    }

    .pets-left-palm {
        bottom: -47px;
        width: 21%;
    }

    /* Testimonials */

    #testimonials {
        margin-top: 57px;
        margin-bottom: 83px;
    }

    #testimonials .container {
        width: 600px;
    }

    .test-card {
        width: 100%;
        height: 109px;
        margin-bottom: 12px;
    }

    .test-card-review {
        cursor: pointer;
    }

    .test-name-loc {
        flex: 12;
    }

    .test-name-loc .row:first-of-type p {
        font-weight: 400;
    }

    #testimonials .container .row:nth-child(4) {
        width: auto;
    }

    #testimonials .row button {
        padding: 18px 55px;
    }

    .test-leaf-picture {
        bottom: -156px;
        right: -25px;
    }

    /* footer */ 

    footer {
        width: 640px;
    }

    .footer-wrapper {
        margin: 11px 0;
    }

    .button-footer {
        padding: 8px 51px;
        margin: 26px 0 44px 0; 
    }

    /*
    ==== Donate page ==== */

    #bg {
        background-position: 36%;
        margin-top: 0;
        height: 370px;
    }

    /* donate */
    #donate h3 {
        font-size: 1.5rem;
    }

    #donate .container .row:nth-child(2) > h3 {
        font-size: 2.25rem;
    }

    .card-donate {
        padding: 0;
        margin-bottom: 48px;
        padding-bottom: 19px;
    }

    .card-donate .title-donate {
        font-size: 3rem;
        padding-top: 28px;
    }

    .text-donate {
        text-align: center;
        padding: 0 47px;
    }

    .text-donate > p {
        line-height: 28.8px;
    }

    .progress-bar-donate-input {
        padding: 10px 1px;
        width: 173px;
    }
}

/* 320px 
============================== */
@media only screen and (max-width: 320px) {

    .hide-on-media-320 {
        display: none!important;
    }
    .container {
        width: 300px;
        padding: 0 10px;
    }

    .subtitle {
        line-height: initial;
        font-size: 1.47rem;
    }

    .test-name-loc .small-paragraph {
        font-size: 0.938rem;
    }

    /* Header */
    .header {
        width: 320px;
    }

    /* Home */
    #home {
        width: 320px;
    }

    .watch-animal {
        margin-top: 34px;
        height: 187px;
    }

    .watch-ellipse {
        width: 119px;
        height: 119px;
        top: 56px;
        left: calc(50% - 367px/2 + 186px)
    }

    .watch-ellipse > h2 {
        font-size: 1.68rem;
        top: 18px;
        left: 17px;
        letter-spacing: 0.09rem;
    }

    .watch-ellipse > button {
        top: 184px;
        left: -144px;
        padding: 19px 74px;
    }

    /* Backstage */

    #backstage {
        margin-top: 105px;
    }

    #backstage h2 {
        font-size: 1.5rem;
        line-height: 28.9px;
        margin-bottom: 0.6rem;
    }

    .backstage-bg {
        width: 23%;
        top: 76px;
        right: -42px;
    }

    #backstage .row .col:nth-child(2) > p {
        line-height: initial;
    }

    #backstage .row .col:nth-child(2) > div {
        width: 100%;
    }

    /* pets */
    #pets {
        margin-top: 8px;
    }

    #pets .container {
        width: 286px;
    }

    #pets .row {
        gap: 20px;
    }

    .card {
        flex-basis: auto;
    }

    .card:nth-child(5), .card:nth-child(6) {
        margin-top: 0;
    }

    #pets .button:first-of-type {
        padding-left: 44px;
        padding-right: 60px;
        margin: 14px 0;
    }

    .pets-right-palm {
        bottom: -50px;
        right: -19px;
        width: 28%;
    }

    .pets-left-palm {
        bottom: -47px;
        width: 15%;
    }

    /* feed friend */
    #feed-friend {
        width: 320px;
    }

    #feed-friend .container {
        width: 300px;
        padding: 0 10px;
    }

    .mobile-320 {
        padding-bottom: 41px !important;
    }

    .card-feed-desc-title {
        font-size: 1.5rem;
        margin-top: 18px;
    }

    .card-feed-desc-text {
        padding-left: 1px;
    }

    .card-feed-desc-text .subtitle {
        font-size: 1.125rem;
        text-align: center;
        margin-top: 11px;
    }

    .feed-how-it-works {
        font-size: 1.5rem;
    }

    .card-feed-icons-group {
        width: 57%;
    }

    .card-feed-icon-dsc {
        margin-top: 12px;
    }

    .pad {
        padding-top: 20px;
    }

    /* testimonials */

    #testimonials {
        margin-top: 25px;
        margin-bottom: 61px;
        width: 320px;
    }

    #testimonials .container {
        width: 300px;
        padding: 0 10px;
    }

    #testimonials h3 {
        font-size: 1.5rem;
        margin-bottom: 8px;
    }

    .test-card-review .small-paragraph {
        font-size: 1rem;
    }

    #testimonials .button {
        margin-top: 13px;
    }

    .test-leaf-picture {
        bottom: -103px;
        right: -9px;
        transform: rotate(0.95turn);
    }

    /* footer */
    footer {
        width: 320px;
    }
    
    .footer-logo {
        text-align: center;
    }

    .button-footer {
        padding: 18px 45px;
        margin: 57px 0 44px 9px;
    }

    .footer-social-icons .col {
        flex-direction: row;
        justify-content: space-around;
        flex: 0.5;
        padding: 0 40px;
        margin-bottom: 30px;
    }

    .footer-wrapper li {
        padding: 0 13px;
    }

    /*
    ==== Donate page ==== */

    #bg {
        background-position: 34%;
        margin-top: 24px;
        height: 196px;
        background-size: cover;
    }

    #donate .container .row:nth-child(2) > h3 {
        font-size: 1.5rem;
    }

    .card-feed {
        padding-top: 20px;
        margin-top: 3px;
        margin-bottom: 19px;
        padding-bottom: 5px;
    }

    .title-donate {
        font-size: 1.5rem!important;
        padding-top: 0!important;
        margin-top: 0!important;
    }

    .text-donate {
        padding: 0;
    }

    .text-donate > p {
        font-size: 1rem!important;
        padding: 0;
        margin-bottom: 0;
    }

    .card-donate .row:nth-child(3) {
        margin-top: 0;
        gap: 15px;
    }

    .card-donate .row:nth-child(3) div:first-of-type {
        flex-basis: 30%;
    }

    .card-donate .row:nth-child(3) div:first-of-type p:first-of-type {
        font-size: 2.5rem;
        margin-bottom: 14px;
    }

    .card-donate .row:nth-child(3) div:nth-child(2) p {
        font-size: 1rem;
    }

    .card-donate .row:nth-child(3) div:first-of-type p:nth-child(2) {
        font-size: 0.56rem;
        margin-top: 0;
    }

    .animal-icon-donate {
        width: 160px;
        height: 138px;
    }

    .donate-form {
        margin: 0;
    }

    .progress-bar-title {
        margin-top: 0;
        margin-bottom: 0.1rem;
    }

    .progress-bar-graph {
        height: 16px;
        margin-bottom: 0;
    }

    .progress-bar-graph-amount {
        margin-bottom: 26px;
        justify-content: space-around;
    }

    .progress-bar-graph-scale {
        width: 260px;
        height: 1px;
    }

    .progress-bar-graph-amount-inputs > label {
        font-size: 0.813rem;
    }

    .progress-bar-graph-amount-inputs > input {
        width: 5px;
        height: 5px;
        top: -12px;
        left: 5px;
    }

    .progress-bar-donate span {
        top: 27%;
        left: 73%;
    }

}   


/* All classes created during week4 - js  interactions
================================== */

/* ===== Burger menu ===== */

.burger-menu {
    align-items: center;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.burger-menu-card {
    position: fixed;
    top: 35px;
    right: 0;
    width: 100%;
    background-color: var(--light_gray-color);
    z-index: 98;
    transform: translateX(-125%);
    transition: transform 0.25s ease-in-out;
}

.show-burger-card {
    transform: translateX(0);
}

.burger-list {
    padding-inline-start: 0;
    margin-top: 0;
    padding-top: 1rem;
}

.burger-list .nav-list-item {
    padding: 10px 30px;
}

.burger-list .nav-list-item a, .burger-list .nav-design a {
    color: var(--black_blue-color);
}

.burger-list .nav-design {
    padding: 10px 30px;
}

.burger {
    position: relative;
    margin: 0 auto;
}

.burger,
.burger:before,
.burger:after {
  padding: 0;
  background-color: white;
  width: 90%;
  height: 2px;
  transition: margin .1s .2s, transform .2s;
}

.burger:before,
.burger:after {
  margin: 0;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.burger:before {
    margin-top: -8px;
}
  
.burger:after {
    margin-top: 8px;
}

/*open burger*/
.open .burger {
  transform: rotate(45deg);
}

.open .burger,
.open .burger:before,
.open .burger:after {
  transition: margin .2s, transform .1s .2s;
}

.open .burger:before,
.open .burger:after {
  margin-top: 0;
}

.open .burger:after {
  transform: rotate(-90deg)
}

/* overlay */

.overlay-bg {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 50;
    width: 100vw;
    height: 100vh;
    display: none;
    transition: display 0.25s ease-in-out;
    background: rgba(0, 0, 0, 0.5);
}

.overlay-bg.show-overlay {
    display: block;
}


/* ===== Carousel ====== */
#carousel {
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    max-width: 100%;
}

#carousel::-webkit-scrollbar {
    height: 0;
}

#content {
    display: grid;
    grid-template-columns: repeat(auto-fit, 366px);
    grid-template-rows: auto auto;
    grid-auto-rows: 0px;
    margin: 0 auto;
    gap: 30px;
    row-gap: 3px;
    width: 2370px;
    overflow: auto;
    justify-content: unset !important;
}

/* ===== Testimonials ====== */

.testimonials-popup {
    position: absolute;
    width: 318px;
    max-width: 100%;
    background-color: var(--white-color);
    left: 25%;
    top: -16%;
    border: 1px solid var(--light_gray-color);
    z-index: 101;
    border-radius: 5px;
}

.testimonials-popup-close {
    width: 25px;
    height: 25px;
    top: 3%;
    left: 90%;
    text-align: center;
    cursor: pointer;
}

.testimonials-popup-close i {
    font-size: 1.3rem;
    color: var(--orange-color);
}

.test-card-popup {
    width: 80%;
    border-radius: 20px;
    padding: 0 2%;
    background: var(--light_gray-color);
    border: 2px solid var(--orange-color);
    overflow: auto;
    margin: 20px 36px 17px 17px;
}

/* ===== Donate site ====== */

.progress-bar-graph-amount-inputs > label.active {
    color: var(--orange-color_active);
}

.progress-bar-graph-amount-inputs > input.active::after {
    opacity: 1;
}

.progress-bar-graph-amount-inputs > input.active::before {
    opacity: 1;
}